### Theories

#  Q1 What are data structures, and why are they important?
    
  Ans: data structures is a process of organizing and storing data that could be use in future.

### Q2  Explain the difference between mutable and immutable data types with examples?

 Ans: The differnce between mutable and immutable
        
        - mutable is where we can mutate a data structure.example- list,mutable

        - immutable is where we can not mutate our data structure.example- string, tuples

### Q3  What are the main differences between lists and tuples in Python?

Ans: The main difference between list and tuples is based on mutability of data structure

      - list is mutable whereas tupes is immutable

### Q4 Describe how dictionaries store data?

Ans: dictionaries store data as key-value pairs, where each key is unique and maps to a corresponding value.

- They are unordered.

- Unlike lists or tuples, dictionaries are unordered, meaning the items are not stored in a specific sequence.

- They are mutable, so you can add, remove, or change key-value pairs.

### Q5 Why might you use a set instead of a list in Python


ans - we use a set instead of a list when:

we need only unique elements.
we need fast membership tests (checking if an item is in the collection).
we need to perform set operations (like union or intersection or diference)

### Q6 What is a string in Python, and how is it different from a list?

Ans: A string in Python is a sequence of characters, used to represent text in double qotes. It's different from a list in that strings are immutable (cannot be changed after creation),

 while lists are mutable (can be modified). Also, strings are specifically for text, while lists can contain elements of any data type.

### Q7 How do tuples ensure data integrity in Python?

Ans: Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This prevents accidental modification of the data they hold, making them suitable for storing data that should remain constant.

### Q8 What is a hash table, and how does it relate to dictionaries in Python?

Ans: A hash table is a data structure that stores data in key-value pairs. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found. Python dictionaries are implemented using hash tables.

- This allows for efficient insertion, deletion, and retrieval of data based on the keys.

### Q9 Can lists contain different data types in Python?

Ans: Yes, lists in Python can contain elements of different data types. a single list can include integers, floats, strings, booleans, other lists, tuples, dictionaries, and objects. This makes lists very flexible for storing heterogeneous collections of data.

### Q10 Explain why strings are immutable in Python.

Ans: Strings in Python are immutable, meaning that once a string object is created, its contents cannot be changed.when we run any operation that appears to modify a string, such as concatenation or slicing, actually creates a new string object with the desired changes.

### Q11 What advantages do dictionaries offer over lists for certain tasks?

Ans: Dictionaries are great for quick lookups using keys, like finding a student's grade by their name. Lists are better for ordered collections where you access items by their position (index).

### Q12 How do sets handle duplicate values in Python?

Ans: Sets is automatically remove duplicate values. If you try to add a value that's already in the set, it just ignores it. Sets only keep unique items.

it is the core principle of sets in maths

it noly contains unique element

### Q13 Describe a scenario where using a tuple would be preferable over a list.

Ans: Use a tuple when you have a collection of related items that shouldn't change,

like the information of the addhar card, and coordinates (x, y) or the days of the week. Tuples protect data integrity because they are immutable.

### Q14 How does the “in” keyword work differently for lists and dictionaries?

Ans: For lists, 'in' checks if a value exists anywhere in the list.

 For dictionaries, 'in' checks if a key exists in the dictionary.

### Q15 Can you modify the elements of a tuple? Explain why or why not.

Ans: No, you cannot modify the elements of a tuple because tuples are immutable. Once created, their contents are fixed.

 If you need to change the data, you'd need to create a new tuple.

### Q16 What is a nested dictionary, and give an example of its use case.

Ans: A nested dictionary is a dictionary where some of the values are themselves dictionaries.

 An example is storing information about multiple students, where each student's record is a dictionary inside a main dictionary.

### Q17 Describe the time complexity of accessing elements in a dictionary.

Ans: Accessing elements in a dictionary by key is typically very fast, on average O(1) (constant time), due to hash tables work.

### Q18 In what situations are lists preferred over dictionaries?

Ans: we use lists over dictionary when -

Lists are preferred when the order of items matters, when you need to access items by their position (index), or when you need to store duplicate items.

### Q19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans: Dictionaries are considered unordered because the order in which you insert items doesn't guarantee that they will be stored or retrieved in that same order.

 This doesn't affect retrieval by key, which is always fast, but means you can't rely on index-based access like with lists.

### Q20 Explain the difference between a list and a dictionary in terms of data retrieval.

Ans: we retrieve data from a list using its index (position), like `my_list[0]`.

 we retrieve data from a dictionary using its key, like `my_dict['key_name']`.

### Practical Question

In [ ]:
# Q1 Write a code to create a string with your name and print it?

name = "Ram"
print(name)

Ram

In [ ]:
# Q2 Write a code to find the length of the string "Hello World"?

greeting = "Hello World"
print(f"The total lenght of 'Hello World' is {len(greeting)}")

The total lenght of 'Hello World' is 11

In [ ]:
# Q3 Write a code to slice the first 3 characters from the string "Python Programming"

char = "Python Programming"
char
char[0:3]

'Pyt'

In [ ]:
# Q4 Write a code to convert the string "hello" to uppercase

greeting = "hello"
greeting.upper()

'HELLO'

In [ ]:
# Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [ ]:
# Q6 Write a code to create a list with numbers 1 to 5 and print it
my_list = list(range(1,6))
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

rem_list = [1,2,3,4,5]
rem_list.remove(3)
print(rem_list)

[1, 2, 4, 5]

In [ ]:
# Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

l = ['a','b','c','d']
l[2]
print(f"The second element in l = ['a','b','c','d'] is {l[1]}"  )

The second element in l = ['a','b','c','d'] is b

In [ ]:
# Q10 Write a code to reverse the list [10, 20, 30, 40, 50].

rever_list = [10, 20, 30, 40, 50]
print(f"This is the reverse of the list {rever_list[::-1]} ")

This is the reverse of the list [50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100,200,300)
print(t)

(100, 200, 300)

In [ ]:
#  12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tt = ('red','green','blue','yellow')

print(f"The second to last of the tuple is {tt[-2]}")

The second to last of the tuple is blue

In [ ]:
#  13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

min_tuple = (10, 20, 5, 15)
print(f"The minimum number in this tuple is {min(min_tuple)}")

The minimum number in this tuple is 5
The minimum number in this tuple is 20

In [ ]:
#  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

ani_tuple = ('dog', 'cat', 'rabbit')
cat_index = ani_tuple.index("cat")
print(f"The index of 'cat' in the tuple is: {cat_index}")

The index of 'cat' in the tuple is: 1

In [ ]:
#  15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tup = ("apple","banana","kiwi")
for kiwi in tup:
  if kiwi in tup:
    print("kiwi is in fruit list ")
    break

kiwi is in fruit list

In [ ]:
#  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a','b','c'}
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#  17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set = {1, 2, 3, 4, 5}
set.clear()

In [ ]:
set # here set has been cleared

set()

In [ ]:
#  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#  19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1,2,3}
b = {3,4,5}
union = a.union(b)
print(union)

{1, 2, 3, 4, 5}

In [ ]:
#  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

c = {1,2,3}
d = {2,3,4}
intersec = a.intersection(b)
print(intersec)

{3}

In [ ]:
#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic = {"name": "ram",
       "age": "22",
       "city": "Delhi"}
print(dic)

{'name': 'ram', 'age': '22', 'city': 'Delhi'}

In [ ]:
#  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dictionary = {'name': 'John',
              'age': 25}

dictionary["country"] = "USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dct = {'name': 'Alice',
       'age': 30}

print(dct["name"])

Alice

In [ ]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {'name': 'Bob',
     'age': 22,
     'city': 'New York'}

del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dd = {'name': 'Alice',
      'city': 'Paris'}

for city in dd:
  if city in dd:
    print("yes city is in the dictionary.")
    break

yes city is in the dictionary.

In [ ]:
#  26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_dict = {"a": 1, "b": 2, "c": 3}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [12]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replace).

import random

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort() # Sort the list in ascending order
print(random_numbers)

[35, 44, 71, 77, 85]

In [2]:
# 28. Write a code to create a list with strings and print the element at the third index.

string_list = ["apple", "banana", "cherry", "date", "strawberry"]
print(string_list[2]) # indexing starts at 0

cherry

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1,
         "b": 2}
dict2 = {"c": 3,
         "d": 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.

list_of_strings = ["apple", "banana", "cherry", "apple", "date", "banana"]
set_of_strings = set(list_of_strings)
print(set_of_strings)